In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
url='https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv'
titanic = pd.read_csv(url)

In [4]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
titanic.dropna(inplace = True)

In [7]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [8]:
X= titanic[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]

In [10]:
X.head()

    Pclass     Sex   Age  SibSp  Parch     Fare
1        1  female  38.0      1      0  71.2833
3        1  female  35.0      1      0  53.1000
6        1    male  54.0      0      0  51.8625
10       3  female   4.0      1      1  16.7000
11       1  female  58.0      0      0  26.5500

In [16]:
y =titanic[['Survived']]

In [17]:
y.head()

    Survived
1          1
3          1
6          0
10         1
11         1

In [33]:

le = preprocessing.LabelEncoder()
X['Sex'] = le.fit_transform(X['Sex'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:

x_train, x_test, y_train, y_test = train_test_split(X,y)

In [37]:
lmodel = LogisticRegression()
lmodel.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [39]:
y_predict = lmodel.predict(x_test)

In [40]:
lmodel.score(x_test, y_test)

0.7391304347826086

In [41]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

print(accuracy_score(y_test, y_predict))
print(recall_score(y_test, y_predict))
print(precision_score(y_test, y_predict))
print(f1_score(y_test, y_predict))

0.7391304347826086
0.7741935483870968
0.8275862068965517
0.7999999999999999

In [42]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(x_train, y_train)
y_dt = dtc.predict(x_test)

In [43]:

dtc.score(x_test, y_test)

0.7391304347826086

In [44]:

y_test.shape

(46, 1)

In [45]:
sklearn.metrics.confusion_matrix(y_test, y_dt)

array([[ 7,  8],
       [ 4, 27]], dtype=int64)